<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Skybox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/skybox.css" rel="stylesheet">

    <script src="/js/jquery-1.9.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/humanize.js"></script>
    <script src="/js/d3.v3.js"></script>
    <script src="/js/d3.flow.js"></script>
    <script src="/js/skybox.js"></script>

    <script>
      skybox.table(<%= @table_name.to_json %>);
    </script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <% if request.path != '/' %>
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="/"><%= @table_name.nil? ? 'Skybox' : @table_name %></a>
            <ul class="nav">
              <li class="<%= @action == 'explore' ? 'active' : '' %>"><a href="/<%=@table_name%>/explore">Explore</a></li>
            </ul>
            
            <div class="pull-right"><img class="loading" src="/img/loading.gif"/></div>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>