<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Skybox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/skybox.css" rel="stylesheet">
    <% if File.exists?("#{settings.public_folder}/css/skybox.#{@action}.css") %>
      <link href="/css/skybox.<%= @action %>.css" rel="stylesheet">
    <% end %>

    <script src="/js/jquery-1.9.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/d3.v3.js"></script>
    <script src="/js/d3.flow.js"></script>
    <script src="/js/humanize.js"></script>
    <script src="/js/skybox.js"></script>
    <% if File.exists?("#{settings.public_folder}/css/skybox.#{@action}.css") %>
      <script src="/js/skybox.<%= @action %>.js"></script>
    <% end %>

    <script>
      skybox.table(<%= @table.to_json %>);
    </script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <% if request.path != '/' %>
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="#"><%= @table.nil? ? 'Skybox' : @table %></a>
            <ul class="nav">
              <li class="<%= @action == 'explore' ? 'active' : '' %>"><a href="explore">Explore</a></li>
              <li class="<%= @action == 'admin' ? 'active' : '' %>"><a href="admin">Admin</a></li>
            </ul>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>